<a href="https://colab.research.google.com/github/rahmanziaur/DTClassifierTest/blob/main/MissingValTestZia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# creating csv dataset with imputation and replacing using KNN
# Ref https://scikit-learn.org/stable/modules/impute.html

from sklearn.impute import KNNImputer
import numpy as np
import pandas as pd

import csv
csv_columns = ['No','Name','Country']
dict_data = [
{'No': 1, 'Name': 'Alex', 'Country': 'NULL'},
{'No': 2, 'Name': 'Ben', 'Country': 'USA'},
{'No': 3, 'Name': 'NULL', 'Country': 'India'},
{'No': 4, 'Name': 'Smith', 'Country': 'NULL'},
{'No': 5, 'Name': 'Yuva Raj', 'Country': 'India'},
]
csv_file = "Names.csv"
try:
    with open(csv_file, 'w') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
        writer.writeheader()
        for data in dict_data:
            writer.writerow(data)
except IOError:
    print("I/O error")

df100 = pd.read_csv('Names.csv')
print("Original data:\n", df100)
df100['Name'] = df100['Name'].replace('Alex', 5)
df100['Name'] = df100['Name'].replace('Ben', 10)
df100['Name'] = df100['Name'].replace('Smith', 15)
df100['Name'] = df100['Name'].replace('Yuva Raj', 20)
#df100['Name'] = df100['Name'].replace(np.nan, 0)

#df100['Country'] = df100['Country'].replace(np.nan, 0)
df100['Country'] = df100['Country'].replace('USA', 100)
df100['Country'] = df100['Country'].replace('India', 90)

df100.to_csv('Names1.csv')


df101 = pd.read_csv('Names1.csv')
print("After Transformation:\n", df101)

null_data = df101[df101.isnull().any(axis=1)]
print("Rows with missing values:\n",null_data )

imputer = KNNImputer(n_neighbors=2)
df_filled = imputer.fit_transform(df101)

pd.DataFrame(df_filled).to_csv("Names2.csv")
#np.savetxt("Names2.csv", df_filled, delimiter=",")

df102 = pd.read_csv('Names2.csv')
print("After Imputation:\n",df102)

Original data:
    No      Name Country
0   1      Alex     NaN
1   2       Ben     USA
2   3       NaN   India
3   4     Smith     NaN
4   5  Yuva Raj   India
After Transformation:
    Unnamed: 0  No  Name  Country
0           0   1   5.0      NaN
1           1   2  10.0    100.0
2           2   3   NaN     90.0
3           3   4  15.0      NaN
4           4   5  20.0     90.0
Rows with missing values:
    Unnamed: 0  No  Name  Country
0           0   1   5.0      NaN
2           2   3   NaN     90.0
3           3   4  15.0      NaN
After Imputation:
    Unnamed: 0    0    1     2      3
0           0  0.0  1.0   5.0   95.0
1           1  1.0  2.0  10.0  100.0
2           2  2.0  3.0  17.5   90.0
3           3  3.0  4.0  15.0   90.0
4           4  4.0  5.0  20.0   90.0

In [17]:
from sklearn.impute import KNNImputer
import numpy as np
import pandas as pd


df_miss = pd.read_csv('https://raw.githubusercontent.com/rahmanziaur/DTClassifierTest/main/food-consumption_missing.csv')
df_temp = df_miss.drop(columns=['Country'])

imputer = KNNImputer(n_neighbors=2)
df_filled = imputer.fit_transform(df_temp)

pd.DataFrame(df_filled).to_csv("NewTable.csv")
#np.savetxt("Names2.csv", df_filled, delimiter=",")

df_new = pd.read_csv('NewTable.csv')
print("After Imputation:\n")
print(df_new)

# print("After Deleting Values:\n")
# print(df_miss)

print("Original Data:\n")
df = pd.read_csv('https://raw.githubusercontent.com/rahmanziaur/DTClassifierTest/main/food-consumption.csv')
df

After Imputation:

    Unnamed: 0     0     1     2     3     4     5     6     7     8  ...  \
0            0  90.0  49.0  88.0  19.0  57.0  51.0  19.0  21.0  27.0  ...
1            1  82.0  10.0  60.0   2.0  55.0  41.0   3.0   2.0   4.0  ...
2            2  88.0  42.0  63.0   4.0  76.0  53.0  11.0  23.0  11.0  ...
3            3  96.0  62.0  98.0  32.0  62.0  67.0  43.0   7.0  14.0  ...
4            4  94.0  38.0  48.0  11.0  74.0  37.0  15.0   9.0  19.0  ...
5            5  97.0  61.0  86.0  28.0  79.0  73.0  12.0   7.0  26.0  ...
6            6  27.0  86.0  99.0  22.0  91.0  55.0  76.0  17.0  20.0  ...
7            7  72.0  26.0  77.0   2.0  22.0  38.0   1.0   5.0  20.0  ...
8            8  55.0  31.0  61.0  15.0  29.0  33.0   1.0   5.0  15.0  ...
9            9  73.0  72.0  85.0  25.0  31.0  69.0  10.0  17.0  19.0  ...
10          10  97.0  13.0  93.0  31.0  64.0  43.0  43.0  39.0  54.0  ...
11          11  96.0  17.0  92.0  35.0  66.0  32.0  17.0  11.0  51.0  ...
12          12  92.0  17.0  83.0  13.0  62.0  51.0   4.0   9.5  30.0  ...
13          13  98.0  12.0  84.0  20.0  64.0  27.0  10.0   8.0  18.0  ...
14          14  70.0  40.0  40.0   6.5  62.0  43.0   2.0  14.0  23.0  ...
15          15  30.0  52.0  99.0  11.0  80.0  75.0  18.0   2.0   5.0  ...

      10    11    12    13    14    15    16    17    18    19
0   81.0  75.0  44.0  71.0  22.0  91.0  85.0  74.0  30.0  26.0
1   67.0  71.0   9.0  46.0  80.0  66.0  24.0  94.0   5.0  18.0
2   87.0  84.0  40.0  45.0  43.0  94.0  47.0  36.0  57.0   3.0
3   83.0  89.0  61.0  81.0  15.0  31.0  66.0  13.0  53.0  15.0
4   76.0  76.0  42.0  57.0  29.0  84.0  80.0  83.0  20.0   5.0
5   85.0  94.0  43.0  20.0  91.0  94.0  94.0  48.5  31.0  24.0
6   76.0  68.0  89.0  91.0  11.0  95.0  94.0  57.0  11.0  28.0
7   22.0  51.0   8.0  16.0  68.5  65.0  78.0  92.0   6.0   9.0
8   40.5  42.0  14.0  41.0  51.0  51.0  72.0  28.0  13.0  11.0
9   79.0  70.0  46.0  61.0  64.0  82.0  66.0  61.0  48.0  14.5
10  56.0  78.0  53.0  75.0   9.0  68.0  32.0  48.0   2.0  93.0
11  81.0  72.0  50.0  64.0  11.0  92.0  91.0  30.0  11.0  34.0
12  61.0  72.0  36.0  51.0  11.0  63.0  94.0  23.5   2.0  62.0
13  71.0  57.0  22.0  57.5  15.0  96.0  94.0  17.0   6.5  48.0
14  59.0  77.0  30.0  38.0  86.0  44.0  51.0  91.0  16.0  13.0
15  57.0  52.0  46.0  89.0   5.0  97.0  25.0  31.0   3.0   9.0

[16 rows x 21 columns]
Original Data:

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,81,75,44,71,22,91,85,74,30.0,26
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,67,71,9,46,80,66,24,94,5.0,18
2,France,88,42,63,4.0,76.0,53,11,23,11,...,87,84,40,45,88,94,47,36,57.0,3
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,83,89,61,81,15,31,97,13,53.0,15
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,76,76,42,57,29,84,80,83,20.0,5
5,Luxembourg,97,61,86,28.0,79.0,73,12,7,26,...,85,94,83,20,91,94,94,84,31.0,24
6,England,27,86,99,22.0,91.0,55,76,17,20,...,76,68,89,91,11,95,94,57,11.0,28
7,Portugal,72,26,77,2.0,22.0,34,1,5,20,...,22,51,8,16,89,65,78,92,6.0,9
8,Austria,55,31,61,15.0,29.0,33,1,5,15,...,49,42,14,41,51,51,72,28,13.0,11
9,Switzerland,73,72,85,25.0,31.0,69,10,17,19,...,79,70,46,61,64,82,48,61,48.0,30
10,Sweden,97,13,93,31.0,NaN,43,43,39,54,...,56,78,53,75,9,68,32,48,2.0,93
11,Denmark,96,17,92,35.0,66.0,32,17,11,51,...,81,72,50,64,11,92,91,30,11.0,34
12,Norway,92,17,83,13.0,62.0,51,4,17,30,...,61,72,34,51,11,63,94,28,2.0,62
13,Finland,98,12,84,20.0,64.0,27,10,8,18,...,50,57,22,37,15,96,94,17,NaN,64
14,Spain,70,40,40,NaN,62.0,43,2,14,23,...,59,77,30,38,86,44,51,91,16.0,13
15,Ireland,30,52,99,11.0,80.0,75,18,2,5,...,57,52,46,89,5,97,25,31,3.0,9