<a href="https://colab.research.google.com/github/rahmanziaur/DTClassifierTest/blob/main/MissingValTestZia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
# creating csv dataset with imputation and replacing using KNN
# Ref https://scikit-learn.org/stable/modules/impute.html

from sklearn.impute import KNNImputer
import numpy as np
import pandas as pd

import csv
csv_columns = ['No','Name','Country']
dict_data = [
{'No': 1, 'Name': 'Alex', 'Country': 'NULL'},
{'No': 2, 'Name': 'Ben', 'Country': 'USA'},
{'No': 3, 'Name': 'NULL', 'Country': 'India'},
{'No': 4, 'Name': 'Smith', 'Country': 'NULL'},
{'No': 5, 'Name': 'Yuva Raj', 'Country': 'India'},
]
csv_file = "Names.csv"
try:
    with open(csv_file, 'w') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
        writer.writeheader()
        for data in dict_data:
            writer.writerow(data)
except IOError:
    print("I/O error")

df100 = pd.read_csv('Names.csv')
print("Original data:\n", df100)
df100['Name'] = df100['Name'].replace('Alex', 5)
df100['Name'] = df100['Name'].replace('Ben', 10)
df100['Name'] = df100['Name'].replace('Smith', 15)
df100['Name'] = df100['Name'].replace('Yuva Raj', 20)
#df100['Name'] = df100['Name'].replace(np.nan, 0)

#df100['Country'] = df100['Country'].replace(np.nan, 0)
df100['Country'] = df100['Country'].replace('USA', 100)
df100['Country'] = df100['Country'].replace('India', 90)

df100.to_csv('Names1.csv')


df101 = pd.read_csv('Names1.csv')
print("After Transformation:\n", df101)

null_data = df101[df101.isnull().any(axis=1)]
print("Rows with missing values:\n",null_data )

imputer = KNNImputer(n_neighbors=2)
df_filled = imputer.fit_transform(df101)

pd.DataFrame(df_filled).to_csv("Names2.csv")
#np.savetxt("Names2.csv", df_filled, delimiter=",")

df102 = pd.read_csv('Names2.csv')
print("After Imputation:\n",df102)

Original data:
    No      Name Country
0   1      Alex     NaN
1   2       Ben     USA
2   3       NaN   India
3   4     Smith     NaN
4   5  Yuva Raj   India
After Transformation:
    Unnamed: 0  No  Name  Country
0           0   1   5.0      NaN
1           1   2  10.0    100.0
2           2   3   NaN     90.0
3           3   4  15.0      NaN
4           4   5  20.0     90.0
Rows with missing values:
    Unnamed: 0  No  Name  Country
0           0   1   5.0      NaN
2           2   3   NaN     90.0
3           3   4  15.0      NaN
After Imputation:
    Unnamed: 0    0    1     2      3
0           0  0.0  1.0   5.0   95.0
1           1  1.0  2.0  10.0  100.0
2           2  2.0  3.0  17.5   90.0
3           3  3.0  4.0  15.0   90.0
4           4  4.0  5.0  20.0   90.0